# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller build files
build/
dist/
*.spec
PylaMydd.spec

# OS Generated
.DS_Store
Thumbs.db

# VS Code
.vscode/
